<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título da página, que pode ser substituído pelos templates filhos -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Links para os estilos CSS (Bootstrap e personalizado) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Cabeçalho da página -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Link para a página inicial -->
                <a class="navbar-brand" href="{{ url_for('camera.listar_cameras') }}">Home</a>
                <!-- Botão de toggle para dispositivos menores -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Itens da barra de navegação -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- Links para listar câmeras, adicionar câmera, gerar relatório e sair -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('camera.listar_cameras') }}">Listar Câmeras</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('camera.adicionar_camera') }}">Registrar Câmera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('camera.gerar_relatorio') }}">Gerar Relatório</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Seção principal onde o conteúdo específico será inserido pelos templates filhos -->
    <section>
        {% block content %}{% endblock %}
    </section>
    <!-- Rodapé da página -->
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <!-- Informações do rodapé -->
            <p>&copy; 2023 Desenvolvido por Daniel Henrique de Souza. Todos os direitos reservados.</p>
        </div>
    </footer>    
    <!-- Scripts necessários (Bootstrap) -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
