{% extends 'base.html' %}
{% block title %}Editar Câmera{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">Editar Câmera</h1>
                <form id="editarCamera" action="" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="name" value="{{ camera.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="ip" class="form-label">IP</label>
                        <input type="text" class="form-control" name="ip" value="{{ camera.ip }}" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="contagemCheckbox" name="contagem" {% if camera.linha and camera.entrada %} checked {% endif %}>
                        <label class="form-check-label" for="contagemCheckbox">Fazer contagem</label>
                    </div>
                    <div class="mb-3" id="camposContagem" {% if not camera.linha or not camera.entrada %} style="display: none;" {% endif %}>
                        <label for="linha" class="form-label">Coordenadas da Linha (x1, y1, x2, y2)</label>
                        <input type="text" class="form-control" name="linha" placeholder="Digite as coordenadas da linha" {% if camera.linha %} value="{{ camera.linha | join(', ') }}" {% endif %}>
                        <label for="entrada" class="form-label">Entrada</label>
                        <select class="form-select" name="entrada">
                            <option value="esquerda" {% if camera.entrada == 'esquerda' %} selected {% endif %}>Esquerda</option>
                            <option value="direita" {% if camera.entrada == 'direita' %} selected {% endif %}>Direita</option>
                            <option value="cima" {% if camera.entrada == 'cima' %} selected {% endif %}>Cima</option>
                            <option value="baixo" {% if camera.entrada == 'baixo' %} selected {% endif %}>Baixo</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{{ url_for('camera.listar_cameras') }}" class="btn btn-danger">Cancelar</a>
                    {% if data: %}
                        <div class="alert alert-danger mt-3" role="alert">{{data}}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('contagemCheckbox').addEventListener('change', function() {
            var camposContagem = document.getElementById('camposContagem');
            camposContagem.style.display = this.checked ? 'block' : 'none';
        });
    </script>
{% endblock %}
